<div class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand">Product Catalog App</a>
    <cart-summary></cart-summary>
</div>
<div class="col-xs-3 p-a-1">
    <button (click) = "changeCategory()" class="btn btn-block btn-outline-primary">
        Home
    </button>
    <button *ngFor = "let category of categories" 
        class="btn btn-block btn-outline-primary"
        (click) =  "changeCategory(category)"
        [class.active] = "category == selectedCategory" >
        {{category}}
    </button>
    <button routerLink="/admin" class="btn btn-block btn-danger">
        Admin
    </button>
</div>
<div class="col-xs-9 p-a-1">
    <div *ngFor="let product of products" class="card card-outline-primary">
        <h4 class="card-header">
            {{product.name}}
            <span class="pull-xs-right tag tag-pill tag-primary">
                {{product.price | currency:'INR':'symbol':'3.2-2'}}      
            </span>
        </h4>
        <div class="card-text p-a-1">
            {{product.description}}
            <button class="btn btn-primary btn-sm pull-right"
                (click) = "addProductToCart(product)">
                Add Product To Cart
            </button>
        </div>
    </div>
</div>
